/TestCode/App1/nbproject/private/
/TestCode/App1/build/
/Assignments/A1/SlotMachine/dist/
/Assignments/A1/CourseGradeBook/nbproject/private/
/Assignments/A1/CourseGradeBook/build/
/Assignments/A1/CourseGradeBookFinal/nbproject/private/
/Assignments/A1/CourseGradeBookFinal/build/
/Assignments/A1/CourseGradeBookFinal/dist/
/ExamCode/Quiz1/nbproject/private/
/ExamCode/Quiz1/build/
/ExtraCode/Task3/nbproject/private/
/ExamCode/Midterm1/PersonFoodProject/nbproject/private/
/ExamCode/Midterm1/PersonFoodProject/build/
/Assignments/A2/Assignment2/dist/
/ExtraCode/SudokuGenerator/nbproject/private/
/ExtraCode/SudokuGenerator/build/
/ExtraCode/Sudoku/nbproject/private/
/ExtraCode/Sudoku/build/
/ExtraCode/Sudoku/dist/
/ExtraCode/FileProcessing/nbproject/private/
/ExtraCode/InputOutputApp/nbproject/private/
/ExtraCode/InputOutputApp/build/
/Assignments/A2/Assignment2B/nbproject/private/
/Assignments/A2/Assignment2B/build/
/ExtraCode/JFrameTest/nbproject/private/