/TestCode/App1/nbproject/private/
/TestCode/App1/build/
/Assignments/A1/SlotMachine/dist/
/Assignments/A1/CourseGradeBook/nbproject/private/
/Assignments/A1/CourseGradeBook/build/
/Assignments/A1/CourseGradeBookFinal/nbproject/private/
/Assignments/A1/CourseGradeBookFinal/build/
/Assignments/A1/CourseGradeBookFinal/dist/
/ExamCode/Quiz1/nbproject/private/
/ExamCode/Quiz1/build/
/ExtraCode/Task3/nbproject/private/
/ExamCode/Midterm1/PersonFoodProject/nbproject/private/
/ExamCode/Midterm1/PersonFoodProject/build/
/Assignments/A2/Assignment2/dist/
/ExtraCode/SudokuGenerator/nbproject/private/
/ExtraCode/SudokuGenerator/build/
/ExtraCode/Sudoku/nbproject/private/
/ExtraCode/Sudoku/build/
/ExtraCode/Sudoku/dist/
/ExtraCode/FileProcessing/nbproject/private/
/ExtraCode/InputOutputApp/nbproject/private/
/ExtraCode/InputOutputApp/build/
/Assignments/A2/Assignment2B/nbproject/private/
/Assignments/A2/Assignment2B/build/
/ExtraCode/JFrameTest/nbproject/private/
/ExtraCode/Snake-progress/Snake/build/
/ExtraCode/Snake-progress/Snake/dist/
/ExtraCode/Snake-progress/Snake/nbproject/private/
/ExtraCode/SudokuTest/nbproject/private/
/ExtraCode/SudokuTest/build/
/ExtraCode/AutoClicker/nbproject/private/
/ExtraCode/AutoClicker/build/
/ExtraCode/Calculator/nbproject/private/
/ExtraCode/Calculator/build/
/ExtraCode/DogFileIOApp/nbproject/private/
/ExtraCode/DogFileIOApp/build/
/Assignments/A3/Assignment_3A/DogFileIOApp/nbproject/private/
/Assignments/A3/Assignment_3A/DogFileIOApp/build/